
{{#each items as |item|}} 

<div class="text-center m-3">
    <h2>Esta seguro que desea eliminar el equipo {{item.shortName}}</h2>   

    <form action="/{{item.id}}/eliminado" method="POST"> 
        <button type="submit" class="btn btn-danger">Delete</button> 
    </form>
</div>

{{/each}} 